.root{
    -fx-background-color: rgb(40,40,40);
}
.menu{
    -fx-background-color: rgb(204,153,0);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-cursor: hand;
}

#brightness, #pixel_blur, #extra{
    -fx-text-fill: skyblue;
    -fx-alignment: center;
    -fx-border-width: 0;
    -fx-cursor: none;

}
.button {
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 1;
    -fx-color: white;
    -fx-text-fill: skyblue;
    -fx-alignment: center;
    -fx-text-decoration: none;
    -fx-display: inline-block;
    -fx-font-size: 15px;
    -fx-border-insets: 20;
    -fx-cursor: hand;
    -fx-background-color: rgb(25,25,25);
}

#buttonPane{
    -fx-alignment: center;
    -fx-background-color: rgb(0,0,0);
}

#menubar{
    -fx-background-color: rgb(70,70,70);
    -fx-text-fill: white;
    -fx-font-size: 14px;
}


#toolbar{
    -fx-background-color: rgb(25,25,25);
    -fx-padding: 30px;
}